.ocultar {
	display: none;
}

.mostrar {
	display: block;
}


.container-botones {
	width: 50%;
	padding: auto;
	margin: auto;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}

.note {
	text-align: center;
	height: 80px;
	background: #0062cc;
	color: white;
	font-weight: bold;
	font-size: 2.2rem;
	line-height: 80px;
}

.container-confirma {
	width: 80%;
	padding: auto;
	margin: auto;
}

.form-content {
	padding: 5%;
	border: 1px solid #ced4da;
	margin-bottom: 2%;
}

.form-control {
	border-radius: 1.5rem;
}

.btnSubmit {
	border: none;
	border-radius: 1.5rem;
	padding: 1%;
	width: 20%;
	cursor: pointer;
	background: green;
	color: #fff;
}