body {
	height: 40em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-signin {
	width: 80%;
	padding: auto;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
}

.form-signin input[type="email"] {
	margin-bottom: 2px;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
}

.card {
	width: 95%;
	max-width: 330px;
	min-width: 200px;
	padding: auto;
	margin: auto;
	-webkit-box-shadow: 0px 17px 30px 9px rgba(0, 0, 0, 0.47);
	box-shadow: 0px 17px 30px 9px rgba(0, 0, 0, 0.47);
}

.card .container-botones .btn {
	padding: 5px;
}

.logo {
	width: auto;
	min-width: 50px;
	max-width: 120px;
	-webkit-box-shadow: 0px 17px 30px 9px rgba(0, 0, 0, 0.47);
	box-shadow: 0px 17px 30px 9px rgba(0, 0, 0, 0.47);
}