html, body {
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: block;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: white;
}

.form-signin {
	width: 80%;
	padding: auto;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	padding: auto;
	font-size: 16px;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

@media ( min-width : 900px) {
	.card {
		width: 40%;
		min-width: 330px;
		padding: auto;
		margin: auto;
	}
	.logo {
		width: auto;
		min-width: 100px;
		max-width: 150px;
	}
}

@media ( max-width : 900px) {
	.card {
		width: 95%;
		max-width: 330px;
		padding: 1vh;
		padding: auto;
		margin: auto;
	}
	.card .container-botones .btn {
		padding: 5px;
	}
	.logo {
		width: auto;
		min-width: 50px;
		max-width: 100px;
	}
}