.note {
	text-align: center;
	height: 80px;
	background: #0062cc;
	color: #fff;
	font-weight: bold;
	line-height: 80px;
}

.container {
	border: 1px solid #ced4da;
}

body {
	margin: 0px;
	padding: 0px;
}

.botonVolver {
	width: 100%;
	max-width: 330px;
	padding: auto;
	margin: auto;
	padding-bottom: 2%;
}