.note {
    text-align: center;
    height: 80px;
    background: #0062cc;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.container{
	
    border: 1px solid #ced4da;
}

body {
  margin: 0px;
  padding: 0px;
}

.container-botones{
  width: 100%;
  max-width: 330px;
  padding: auto;
  margin: auto;
}

.botonVolver {
     font-weight:bold;
     color:white;
     padding-top: 10px;
     width: 20%;
}
